doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		title Mua2013
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/app.css')
		script(src='/js/jquery-2.0.3.min.js')
		script(src='/js/bootstrap.min.js')

	body
		section.container
			h1.heading.muaz Muaz
			h1.heading.year 2013
			h1.heading 
				span for 
				span Madaveli, 
				span Hoadehdhoo 
				span & 
				span Nadalla 
