heading_size = 19em
*
	font-family "Open Sans"
	
.heading
	font-weight 300
.year
	font-family "Lato"
	font-weight 100
	font-size heading_size
	color orange
	line-height 170px
.muaz
	font-family "Lato"
	font-weight 300
	font-size heading_size
	background -webkit-linear-gradient(#FF8500, #FF0070)
	-webkit-background-clip text
	-webkit-text-fill-color transparent
	background -moz-linear-gradient(#FF8500, #FF0070)
	-moz-background-clip text
	-moz-text-fill-color transparent

